
<div>
    <div>
        <div>
            <frameset>
            <span>SIGN-IN <%= form_for(:user) do |f| %></span>
            <table>
                    <tr>
                            <td><%= f.label 'email:' %></td>
                            <td><%= f.text_field :email %></td>
                    </tr>
                    <tr>
                            <td><%= f.label 'password:' %></td>
                            <td><%= f.password_field :password %></td>
                    </tr>
                    
            </table>
            <%= f.submit 'Sign In' %>
            <%= f.submit 'Clear Form', :type => 'reset' %>
          <% end %>
          <%= link_to "Forget your password?" ,:controller=>"account",:action=>"forget_password" %>
          </frameset>
        </div>
    </div>
</div>
